.fullscreen_bg {
	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url('picture/backgroundPicture.jpg');
    background-repeat:repeat;
}

.container {
	margin-top: 100px;
}

#hiddenfield {
	margin-top : 10px;
	margin-bottom: -7px;
	visibility: hidden;
	text-align: center;
	color: #FF0000;
}

.logout {
	margin-left: 900px;
}

.bankaccount {
	margin-left: -15px;
}

.maindiv {
	margin-left: 20px;
	margin-right: 20px;
}

.historytable {
	margin-top: 10px;
}

.borderless td, .borderless th {
    border: none !important;
}

.message {
	margin-left: 10px;
	margin-right: 10px;
}
  